body {
    background-image: url(double-bubble-outline.png);
}


.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#quotebybender {

    color: firebrick;
    text-align: center;
    font-family: 'IBM Plex Serif',
        serif;
}

h2 {
    font-family: 'IBM Plex Serif',
        serif;
    color: darkred;
    text-align: center;
}

