body {
    background-image: url(double-bubble-outline.png);
}

#rodri {

    text-align: center;
    background-color: gainsboro;

}

p {
    text-indent: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav-item {
    font-size: 25px;
    font-family: 'Ubuntu',
        sans-serif;

}

#title {
    background-color: #ff4c68;
    height: auto;
    text-align: justify;
}


.row image {
    height: max-height;
    width: max-width;
}

.nav-item {

    font-family: 'Ubuntu',
        sans-serif, Medium 500;
}

h3 {
    font-size: small;
    display: block;
}

#page_pic {}

footer {}

/* Sass */
@media (max-width: 450px) {
    h2 {
        font-size: small;
    }

    .nav-item {
        font-size: large;
        display: flex;
    }


}