body {
    background-image: url(double-bubble-outline.png);
}

@media (max-width: 640px) {
    .nav-item {

        font-size: small;
        padding-left: 10px;
        .navbar {
            margin: 0;
            padding: 0;
        }
    }