body {
    background-image: url(double-bubble-outline.png);
}











@media screen and (max-width: 640px) {
    .nav-item {

        font-size: small;
        padding-left: 10px;
        justify-content: center;

        .navbar {
            margin: 0;
            padding: 0;
        }

    
    }

  